@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
body{
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: #333;
  align-items: center;
}